body {
  color: #444;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  margin-bottom: .2em;
  font-size: 1rem;
}

.desc {
  margin-top: .2em;
  font-size: .8rem;
  color: #888;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -.5rem;
  padding-left: 0;
  list-style: none;
  border-top: 1px solid #888;
}

.list li {
  width: 200px;
  margin: .5rem;
}

.list a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .8rem;
  text-align: center;
}
