html {
  font-family: $font-stack-system-ui;
  font-size: percentage($ratio-text-root);
  line-height: $line-height;
}

body {
  margin: 0;
  color: $color-black;
  background-color: $color-white;
}

a {
  color: inherit;
  text-decoration: none;
}
