.grid-list {
  display: grid;
  grid-template-columns: repeat(var(--col-count-per-row), auto);
  margin: 0;
  padding-left: 0;

  li {
    min-width: 0;
    margin-bottom: $spacing-large;
  }

  a {
    @include truncate;
    @include lazy-loading;

    display: block;
    padding-top: calc((100% * 9 / 16) + #{$spacing-small});
    padding-right: $spacing;
    padding-left: $spacing;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
}
