.grid-list {
  display: flex;
  flex-wrap: wrap;
  margin: (- $spacing-large) 0 0;
  padding: 0;
  list-style: none;
  font-size: ($ratio-text-small * 1rem);

  li {
    flex: auto;
    max-width: calc(100% / var(--col-count-per-row));
    min-width: 20rem;
    margin: $spacing-large 0 0;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }

  a {
    display: block;
    padding-top: calc(100% * 9 / 16); // 16 : 9
  }

  p {
    @include truncate;

    margin: $spacing-minimal $spacing-small;
  }
}
