.grid-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  li {
    position: relative;
    flex-grow: 1;
    min-width: 320px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  li::before {
    content: "";
    display: block;
    padding-top: calc(100% * 9 / 16); // 16 : 9
  }

  a {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

  p {
    @include truncate;

    margin-top: 0;
    margin-bottom: 0;
    padding: .8em;
    font-size: .8rem;
    line-height: 1;
    color: $color-white;
    background-color: rgba($color-black, .8);
    transition: opacity .3s;
  }

  a:hover p,
  a:active p,
  a:focus p {
    opacity: 0;
  }
}
