.grid-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;

  li {
    flex: auto;
    min-width: $width-grid-item;
    max-width: calc(100% / var(--col-count-per-row));
    margin-bottom: $spacing-large;
  }

  a {
    @include truncate;

    display: block;
    padding-top: calc((100% * 9 / 16) + #{$spacing-small});
    padding-right: $spacing;
    padding-left: $spacing;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
}
