.page-header {
  padding: $spacing-large $spacing-small;

  h1 {
    margin: 0 0 $spacing-minimal;
    font-size: ($ratio-text-large * 1rem);
    font-weight: normal;
  }

  p {
    margin: 0;
    font-size: ($ratio-text-small * 1rem);
    color: $color-gray;
  }
}
