.page-header {
  margin: $spacing-large $spacing;

  h1 {
    margin: 0 0 $spacing-small;
    font-weight: normal;
    font-size: ($ratio-text-large * 1rem);
  }

  p {
    margin: 0;
    color: $color-gray;
  }
}
