.page-header {
  padding: 1rem;
  color: $color-gray;
  background-color: $color-black;

  &__title {
    margin-top: 0;
    margin-bottom: .25rem;
    font-size: 1.2rem;
    font-weight: normal;
    color: $color-white;
  }

  &__desc {
    margin-top: 0;
    margin-bottom: 0;
    font-size: .8rem;
  }
}
