$ratio: 1.5;

$ratio-text: .875;
$ratio-text-large: ($ratio-text * $ratio);

$line-height: $ratio;

$spacing: ($ratio-text * 1rem);
$spacing-small: ($spacing / $ratio / $ratio);
$spacing-large: ($spacing * $ratio * $ratio * $ratio);

$width-grid-item: 20rem;

$color-black: hsl(0, 0%, 25%);
$color-white: hsl(0, 0%, 99%);
$color-gray: mix($color-black, $color-white);

$font-stack-ui: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
