$color-black: #222;
$color-white: #eee;
$color-gray: mix($color-black, $color-white);

$font-stack-ui: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:root {
  font-family: $font-stack-ui;
  line-height: 1.5;
  color: $color-black;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-header {
  padding: 1rem;
  color: $color-gray;
  background-color: $color-black;

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: normal;
    color: $color-white;
  }

  &__desc {
    margin-top: .3em;
    margin-bottom: 0;
    font-size: .8rem;
  }
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  > li {
    position: relative;
    flex-grow: 1;
    min-width: 320px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  > li::before {
    content: "";
    display: block;
    padding-top: calc(100% * 9 / 16); // 16 : 9
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__link:hover > &__title {
    opacity: 0;
  }

  &__title {
    @include truncate;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: .8em;
    box-sizing: border-box;
    font-size: .8rem;
    line-height: 1;
    color: $color-white;
    background-color: rgba($color-black,.8);
    transition: opacity .5s;
  }
}

[data-image] {
  opacity: 0;
  transition: opacity .8s;
}
