body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.5;
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.header {
  padding: 1rem;
  color: #aaa;
  background-color: #222;
}

.header .title {
  font-weight: normal;
  color: #eee;
}

.desc {
  margin-top: .3em;
  margin-bottom: 0;
  font-size: .8rem;
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.grid-list > li {
  position: relative;
  flex-grow: 1;
  min-width: 320px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity .8s;
}

.grid-list > li::before {
  content: "";
  display: block;

  /* 16:9 */
  padding-top: calc(100% * 9 / 16);
}

.grid-list .panel-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .3s;
}

.grid-list .panel-link:hover {
  opacity: 1;
}

.grid-list .panel-link::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  transform: scale(0);
  background-color: rgba(255,255,255,.6);
  transition: transform .3s;
}

.grid-list .panel-link:hover::before {
  transform: none;
}

.grid-list .title {
  position: absolute;
  right: 50%;
  bottom: 50%;
  max-width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  transform: translate(50%,50%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
