$black: #222;
$dark-gray: #aaa;
$light-gray: #eee;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.5;
  color: $black;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  padding: 1rem;
  color: $dark-gray;
  background-color: $black;

  .title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 1.2rem;
    color: $light-gray;
  }

  .desc {
    margin-top: .3em;
    margin-bottom: 0;
    font-size: .8rem;
  }
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  > li {
    position: relative;
    flex-grow: 1;
    min-width: 320px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: opacity .8s;

    &::before {
      content: "";
      display: block;
      padding-top: calc(100% * 9 / 16); // 16 : 9
    }
  }

  .panel-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &:hover {
      .title {
        transform: translateY(100%);
      }
    }
  }

  .title {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: .8em;
    box-sizing: border-box;
    overflow: hidden;
    font-size: .8rem;
    line-height: 1;
    color: $light-gray;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgba($black,.8);
    transition: transform .3s;
    will-change: transform;
  }
}
