- var title = 'Website Gallery';

doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    meta(name="description", content= `${list.length} websites are collected by Yuhei Yasuda.`)
    link(rel='stylesheet', href='/style.css')
    script(src='/bundle.js' async)

  body
    header.header
      h1.title= title
      p.desc
        = list.length
        |  websites are collected by 
        a(href='https://yuheiy.com/') Yuhei Yasuda.

    ul.grid-list
      each item in list
        li(data-background-image= item.thumbnail)
          a.panel-link(href= item.url, title= item.title)
            p.title= item.title
