doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Website Gallery
    link(rel='stylesheet', href='./style.css')
    script(src='./app.js' async)

  body
    header.header
      h1.logo Website Gallery
      p.desc
        = items.length
        |  websites are collected by 
        a(href='https://yhey.me/') Yuhei Yasuda.

    ul.list
      each item in items
        li(data-image= item.thumbnail)
          a(href= item.url, title= item.title)
            p= item.title
