- var title = 'Website Gallery'

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    meta(name="description", content= `${list.length} websites are collected by Yuhei Yasuda.`)
    link(rel="canonical", href="/")
    link(rel="stylesheet", href="/app.css")
    script(src="/app.js", defer)

  body
    header.page-header
      h1= title
      p
        = list.length
        |  websites are collected by
        a(href="https://yuheiy.com/") Yuhei Yasuda
        | .

    ul.grid-list
      each item in list
        li(data-image= item.thumbnail)
          a(href= item.url)
            p= item.title
